<head>
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='styles/list_book.css')}}"
  />
</head>

{% extends 'layout.html' %} {% block content %}

<div class="container">
  <h1 class="mt-5">{{title}}</h1>
  <div class="row">
    {% for book in books.items %}
    <!-- <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/book/'+book.image_1)}}" alt="" class="card-img-top" height="200">
                    <div class="card-body">
                        <h5 class="text-center">{{book.title}}</h5>
                        <p class="text-center">Price ${{book.price}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-sm btn-warning">Add to cart</a>
                        <a href="#" class="btn btn-sm btn-outline-primary">Details</a>
                    </div>
                </div>
            </div> -->
    <div class="col-md-3 col-sm-6 mt-3">
      <div class="book-grid">
        <div class="book-image">
          <a href="{{url_for('single_book', isbn=book.ISBN)}}" class="image">
            <img
              src="{{url_for('static', filename='images/book/'+book.image_1)}}"
            />
          </a>
          {% if book_discount[book.ISBN][0] > 0 %}
          <span class="book-discount-label"
            >-{{book_discount[book.ISBN][0]}}%</span
          >
          {% endif %}
          <ul class="book-links">
            <li>
              <a href="#"><i class="fa fa-search mt-2"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-heart mt-2"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-random mt-2"></i></a>
            </li>
          </ul>
          <form action="{{url_for('AddToCart')}}" method="post">
            <input type="hidden" name="book_isbn" value="{{book.ISBN}}" />
            <input
              type="hidden"
              name="quantity"
              id=""
              value="1"
              min="1"
              max="{{book.stock}}"
            />
            <button href="#" type="submit" class="add-to-cart">
              Add to cart
            </button>
          </form>
        </div>
        <div class="book-content">
          <h3 class="title">
            <a href="{{url_for('single_book', isbn=book.ISBN)}}"
              >{{book.title}}</a
            >
          </h3>
          <h3 class="author">
            by {% for auth in author_write_book[book.ISBN] %}
            <a href="{{url_for('get_author', id=auth.id)}}"
              >{{auth.Fname}} {% if auth.Mname %}{{auth.Mname}} {% endif
              %}{{auth.Lname}}</a
            >
            {% endfor %}
          </h3>
          <h3 class="hastag">
            {% for cate in book_belongs_to_category[book.ISBN] %}
            <a href="{{url_for('get_category', id=cate.id)}}"
              >#{{cate.name}}
            </a>
            {% endfor %}
          </h3>
          <div class="price">
            ${{book_discount[book.ISBN][1]|float}} {% if book_discount[book.ISBN][0] > 0 %}
            <span>${{book.price|float}}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div>
      <div class="col text-center">
        {% if books.total > 20 %}
        {% if books.has_prev %}
        <a
          href="{{url_for('home', page=books.prev_num)}}"
          class="btn btn-outline-info btn-sm mt-3 mb-3"
          >Previous</a
        >
        {% endif %} {% for page_num in books.iter_pages(left_edge=1,
        right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {%
        if books.page == page_num %}
        <a
          href="{{url_for('home', page=page_num)}}"
          class="btn btn-info btn-sm mt-3 mb-3"
          >{{page_num}}</a
        >
        {% else %}
        <a
          href="{{url_for('home', page=page_num)}}"
          class="btn btn-outline-info btn-sm mt-3 mb-3"
          >{{page_num}}</a
        >
        {% endif %} {% else %} ... {% endif %} {% endfor %} {% if books.has_next
        %}
        <a
          href="{{url_for('home', page=books.next_num)}}"
          class="btn btn-outline-info btn-sm mt-3 mb-3"
          >Next</a
        >
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
