<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/list_product.css')}}">
</head>

{% extends 'layout.html' %}

{% block content %}

{% include 'includes/_navbar.html' %}


<div class="container">
    <h1 class="mt-5">{{title}}</h1>
    <div class="row">
        {% for product in products %}
            <!-- <div class="col-md-3 mt-3">
                <div class="card">
                    <img src="{{url_for('static', filename='images/product/'+product.image_1)}}" alt="" class="card-img-top" height="200">
                    <div class="card-body">
                        <h5 class="text-center">{{product.name}}</h5>
                        <p class="text-center">Price ${{product.price}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-sm btn-warning">Add to cart</a>
                        <a href="#" class="btn btn-sm btn-outline-primary">Details</a>
                    </div>
                </div>
            </div> -->
            <div class="col-md-3 col-sm-6 mt-3">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img src="{{url_for('static', filename='images/product/'+product.image_1)}}">
                        </a>
                        {% if product.discount > 0 %}
                            <span class="product-discount-label">-{{product.discount}}%</span>
                        {% endif %}
                        <ul class="product-links">
                            <li><a href="#"><i class="fa fa-search mt-2"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart mt-2"></i></a></li>
                            <li><a href="#"><i class="fa fa-random mt-2"></i></a></li>
                        </ul>
                        <a href="" class="add-to-cart">Add to cart</a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">{{product.name}}</a></h3>
                        <h3 class="author"><a href="{{url_for('get_author', id=product.author_id)}}">by {{product.author.name}}</a></h3>
                        <h3 class="hastag"><a href="{{url_for('get_category', id=product.category_id)}}">#{{product.category.name}}</a></h3>
                        <div class="price">${{product.price}} 
                            {% if product.discount > 0 %} 
                                <span>$88.88</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}