<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <img
          src="{{ url_for('static', filename='images/logo.jpg') }}"
          style="width: 100px; height: 100px"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          {% if publishers %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="publisherDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Publisher
            </a>
            <ul class="dropdown-menu" aria-labelledby="publisherDropdown">
              {% for publisher in publishers %}
              <li>
                <a
                  class="dropdown-item"
                  href="{{url_for('get_publisher', id=publisher.id)}}"
                  >{{publisher.name}}</a
                >
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %} {% if categories %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="categoryDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Category
            </a>
            <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
              {% for category in categories %}
              <li>
                <a
                  class="dropdown-item"
                  href="{{url_for('get_category', id=category.id)}}"
                  >{{category.name}}</a
                >
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %} {% if authors %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="authorDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Author
            </a>
            <ul class="dropdown-menu" aria-labelledby="authorDropdown">
              {% for author in authors %}
              <li>
                <a
                  class="dropdown-item"
                  href="{{url_for('get_author', id=author.id)}}"
                  >{{author.Fname}} {% if author.Mname %}{{author.Mname}} {% endif %}{{author.Lname}}</a
                >
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %} {% if discounts %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="discountDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Discount
            </a>
            <ul class="dropdown-menu" aria-labelledby="discountDropdown">
              {% for discount in discounts %}
              <li>
                <a
                  class="dropdown-item"
                  href="{{url_for('get_discount', id=discount.id)}}"
                  >{{discount.name}}</a
                >
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="listDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              List
            </a>
            <ul class="dropdown-menu" aria-labelledby="listDropdown">
              <li><a class="dropdown-item" href="/admin">Book</a></li>
              <li><a class="dropdown-item" href="/publishers">Publisher</a></li>
              <li><a class="dropdown-item" href="/categories">Category</a></li>
              <li><a class="dropdown-item" href="/authors">Author</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a href="{{url_for('profile')}}" class="nav-link">{{current_user.Lname}}</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              tabindex="-1"
              href="{{url_for('get_cart')}}"
              >Cart ({{session['Shoppingcart']|length}})</a
            >
          </li>
          <li class="nav-item">
            <a href="{{url_for('customer_logout')}}" class="nav-link">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{{url_for('customer_register')}}" class="nav-link">Sign up</a>
          </li>
          <li class="nav-item">
            <a href="{{url_for('customerLogin')}}" class="nav-link">Login</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{{url_for('dashboard')}}" class="nav-link">Dashboard</a>
          </li>
        </ul>
        <form class="d-flex" action="{{url_for('result')}}">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="q"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
