{% extends 'layout.html' %} {% block content %}

<div class="container mt-4">
  <h2 class="text-center bg-info p-2">Cart</h2>
  <div class="row">
    <div class="col-md-12">
      Invoice: {{orders.invoice}}
      <br />
      Status: {{orders.status}}
      <br />
      Name: {{customer.Lname}}
      <br />
      Email: {{customer.email}}
      <br />
      State: {{customer.state}}
      <br />
      City: {{customer.city}}
      <br />
      Street: {{customer.street}}
      <br />
      Flat: {{customer.flat_no}}
      <br />
      Building: {{customer.building_no}}
      <br />
      Zipcode: {{customer.zipcode}}
      <br />
      Contact: {{customer.phone_num}}
      <br /><br />
      <table class="table table-sm">
        <thead>
          <!-- <th></th> -->
          <th>Sr</th>
          <th>Title</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Discount</th>
          <th>New price</th>
          <th>Subtotal</th>
        </thead>
        <tbody>
          {% for key, book in orders.orders.items() %}
          <tr>
            <form action="{{url_for('updatecart', code=key)}}" method="post">
              <!-- <td><input class="form-check-input" type="checkbox" id="" value="ischecked" aria-label="..." checked></td> -->
              <td>{{loop.index}}</td>
              <td>{{book.title}}</td>
              <td>${{book.price|float}}</td>
              <td>{{book.quantity}}</td>
              {% if book.discountmax|float > 0 %}
              <td>
                {{(book.discountmax|float * 100)|float}}% 
              </td>
              <td>${{book.discountprice}}</td>
              {% else %}
              <td></td>
              <td></td>
              {% endif %}
              <!-- {% set subtotal = book.quantity|int * book.discountprice|float%} -->
              <td>
                ${{'%.2f'|format(book.quantity|int * book.discountprice|float)}}
              </td>
            </form>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <table style="float :right;">
        <tr>
            <h3 class="text-right">Grand total:${{'%0.2f'|format(grandTotal)}}</h3>
        </tr>
        

      </table>


        <form
          action="{{url_for('get_pdf', invoice=orders.invoice)}}"
          method="post"
        >
          <button type="submit" class="btn btn-danger btn-sm float-right">
            Get PDF
          </button>
        </form>
        {% if orders.status != 'Paid' %}
        <form action="{{url_for('payment')}}" method="POST" >
          <input type="hidden" name="strgrand" value="{{strgrand}}">
          <input type="hidden" name="invoice" value="{{orders.invoice}}">
          <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="pk_test_51L0av7HsWqb2EgUCu5BzjdzJdKs3IiXeKAf0dApqs8C4ZXKzEmTf5bfP5JXCPzV4EwNmU6dcNrAUqUiRiOkXn7q3005SniBv9J"
            data-name="IOB"
            data-description="Book"
            data-amount="{{strgrand}}"
            data-currency="usd">
          </script>
        </form>
        {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
