<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get PDF</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>


<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <b style="float: right;">Invoice: {{orders.invoice}}</b>
            <br>
            Status: {{orders.status}}
            <br />
            Name: {{customer.Lname}}
            <br />
            Email: {{customer.email}}
            <br />
            State: {{customer.state}}
            <br />
            City: {{customer.city}}
            <br />
            Street: {{customer.street}}
            <br />
            Flat: {{customer.flat_no}}
            <br />
            Building: {{customer.building_no}}
            <br />
            Zipcode: {{customer.zipcode}}
            <br />
            Contact: {{customer.phone_num}}
            <br /><br />
            <table class="table table-sm">
                <thead>
                    <!-- <th></th> -->
                    <th>Sr</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>New price</th>
                    <th>Subtotal</th>
                </thead>
                <tbody>
                    {% for key, book in orders.orders.items() %}
                    <tr>
                        <form action="{{url_for('updatecart', code=key)}}" method="post">
                            <!-- <td><input class="form-check-input" type="checkbox" id="" value="ischecked" aria-label="..." checked></td> -->
                            <td>{{loop.index}}</td>
                            <td>{{book.title}}</td>
                            <td>${{book.price|float}}</td>
                            <td>{{book.quantity}}</td>
                            {% if book.discountmax|float > 0 %}
                            <td>{{(book.discountmax|float * 100)|float}}% &nbsp; is {{"%.2f"|format(discount|float)}}</td>
                            <td>${{book.discountprice}}</td>
                            {% else %}
                            <td></td>
                            <td></td>
                            {% endif %}
                            <!-- {% set subtotal = book.quantity|int * book.discountprice|float%} -->
                            <td>${{'%.2f'|format(book.quantity|int * book.discountprice|float)}}</td>
                        </form>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <br>
            <h3 style="float:right;">Grand total: ${{'%0.2f'|format(grandTotal)}}</h3>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>