{% extends 'layout.html' %}
{% block content %}
{% from 'includes/_formhelpers.html' import render_field %}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="bg-info text-center">Register</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                {{ render_field(form.fname, class="form-control") }}
                {{ render_field(form.lname, class="form-control") }}
                {{ render_field(form.username, class="form-control") }}
                {{ render_field(form.email, class="form-control") }}
                {{ render_field(form.password, class="form-control") }}
                {{ render_field(form.confirm, class="form-control") }}
                {{ form.profile(class="form-control")}}
            </div>
            <div class="col-md-4">                
                {{ render_field(form.city, class="form-control") }}
                {{ render_field(form.state, class="form-control") }}
                {{ render_field(form.street, class="form-control") }}
                {{ render_field(form.flat, class="form-control") }}
                {{ render_field(form.building, class="form-control") }}
                {{ render_field(form.phonenum, class="form-control") }}
                {{ render_field(form.zipcode, class="form-control") }}</div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">   
            {{ form.submit(class="form-control btn-info btn") }}
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>

{% endblock content %}